{
    "extends": [
        "incredible"
    ],
    "rules": {
        "function-paren-newline": 0,
        "import/imports-first": 2,
        "import/order": [2, {"groups": ["builtin", "external", "internal",  "parent", "sibling", "index" ]}],
        "import/newline-after-import": 2
    }
}
